{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="row">
{% for i in movie_list %}
<div class="col-md-3 mb-4">
<div class="card pt-3" style="width: 18rem;">
<img src="{{i.img.url}}" class="card-img-top" alt="..." width="100px" height="200px">
<div class="card-body">
<h5 class="card-title">{{i.name}}</h5>
<p class="card-text">{{i.desc}}</p>
<a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">view details</a>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}

{% comment %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
<a class="navbar-brand" href="#">Movie App</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Contact</a>
</li>
</ul>
<!-- Add a button to the right side of the nav bar -->
<a href="{% url 'movieapp:add' %}" class="btn btn-primary">Add Movie</a>
</div>
</nav>
{% endblock %} {% endcomment %}
{% comment %} {% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    {% for i in movie_list %}
    <div class="col-md-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{{i.img.url}}" class="card-img-top" alt="..." width="100px" height="200px"> 
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.desc}}</p>
          <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">view details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% endcomment %}


       
        {% comment %} <img src="{{i.img.url}}" width="100" height="100">
        <a href=>{{i.name}}<br> {% endcomment %}
        {% comment %} <a href="movie/{{i.id}}">{{i.name}}<br> {% endcomment %}
        {% comment %} {{i.id}}-->{{i.name}}<br>{{i.desc}}<br>{{i.year}}<br> {% endcomment %}
       
   
       